.card {
    -fx-padding: 10;
    -fx-border-width: 2;
    -fx-border-color: #2a80b9;
    -fx-background-color: #e7f1fd;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
}

.card:hover {
    -fx-border-color: #276f9b;
    -fx-background-color: #dce9f9;
}

.card-label {
    -fx-text-fill: #2a3f5f;
    -fx-font-weight: bold;
}

.offer-details-container {
    spacing: 5;
}
.circular-image {
    -fx-shape: "M50,0 A50,50 0 1,1 50,-0.1 Z"; /* Path for a circle */
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 50; /* Circle radius */
}

.profile-circle {
    -fx-background-radius: 50; /* Circle radius */
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
}
